{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}
{% block maintitle %}Appointment{% endblock %}

{% block body %}
  	<div class="card">

		<div class="card-header">
          <a class="btn btn-primary float-right" href="{{ path('appointment_index') }}">Back to list</a>
			
			<div class="card-tools">
			
			</div>
		</div>
		<div class="card-body">
    <table class="table">
        <tbody>
         
            <tr>
                <th>Appointed By</th>
              <td>{{ appointment.appointedBy }}</td>
              
                <th>Appointment</th>
                <td>{{ appointment.donor ?:appointment.recipient }}<span class="badge badge-info">{{ appointment.donor ?"donor":"recipient" }}</span></td>
            </tr>
            <tr>
                <th>Appointment Date</th>
                <td>{{ appointment.appointmentDate ? appointment.appointmentDate|date('Y-m-d H:i:s') : '' }}</td>
          
                <th>Status</th>
                <td>{{ appointment.statusDesc }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
         
                <th>Updated At</th>
                <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

 
    <a class="btn btn-warning float-right mx-3" href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
