{% extends 'base.html.twig' %}

{% block title %}Permission List
{% endblock %}
{% block maintitle %}Permission List
{% endblock %}

{% block breadcrumb %}

	<li class="breadcrumb-item active">
		Permission List
	</li>

{% endblock %}

{% block body %}
	<div class="card card-outline card-info">
		<div class="card-header">
			<div class="card-title">
				Permission List({{permissions.getTotalItemCount()}})
			</div>
			<div class="card-tools">

				<a class="btn btn-primary" href="{{ path('permission_new') }}">Register new</a>

			</div>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Code</th>
						<th>Created At</th>
						<th>Updated At</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for permission in permissions %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ permission.name }}</td>
							<td>{{ permission.code }}</td>
							<td>{{ permission.createdAt ? permission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ permission.updatedAt ? permission.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a href="{{ path('permission_show', {'id': permission.id}) }}" class="btn btn-info btn-sm" title="show">
									<i class="fa fa-eye"></i>
								</a>
								<a href="{{ path('permission_edit', {'id': permission.id}) }}" class="btn btn-warning btn-sm" title="edit">
									<i class="fa fa-pen"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
				<div class="float-right">{{ knp_pagination_render(permissions) }}</div>


		</div>
	</div>
{% endblock %}
